COCKROACHDB_CONNECTION_STRING=
JWT_SECRET_KEY=
GMAIL_USER=
GMAIL_PASS=
SUPPORT_RECIPIENTS=
SITE_URL=https://ministry.mylatinmass.com
VAPID_SUBJECT=mailto:notifications@mylatinmass.com
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
GOOGLE_SCHEDULER_AUDIENCE=https://ministry.mylatinmass.com/api/reminders/process
GOOGLE_SCHEDULER_SERVICE_ACCOUNT=
ALLOW_PREVIEW_DELIVERY=false
ALLOW_LOCAL_INVITATION_DELIVERY=false
MINISTRY_LOGIN_LINK_TTL_MINUTES=15
