COCKROACHDB_CONNECTION_STRING=
JWT_SECRET_KEY=
GMAIL_USER=
GMAIL_PASS=
SITE_URL=https://www.mylatinmass.com
VAPID_SUBJECT=mailto:notifications@mylatinmass.com
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
GOOGLE_SCHEDULER_AUDIENCE=https://www.mylatinmass.com/ministry/api/reminders/process
GOOGLE_SCHEDULER_SERVICE_ACCOUNT=
ALLOW_PREVIEW_DELIVERY=false
