COCKROACHDB_CONNECTION_STRING=
JWT_SECRET_KEY=
GMAIL_USER=
GMAIL_PASS=
SUPPORT_RECIPIENTS=
SITE_URL=https://ministry.mylatinmass.com
VAPID_SUBJECT=mailto:notifications@mylatinmass.com
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
TELEGRAM_BOT_USERNAME=
TELEGRAM_BOT_TOKEN=
KLAVIYO_PRIVATE_API_KEY=
GOOGLE_SCHEDULER_AUDIENCE=https://ministry.mylatinmass.com/api/reminders/process
GOOGLE_SCHEDULER_SERVICE_ACCOUNT=
ALLOW_PREVIEW_DELIVERY=false
ALLOW_LOCAL_INVITATION_DELIVERY=false
MINISTRY_LOGIN_LINK_TTL_MINUTES=15
MASS_SCHEDULE_URL=https://script.google.com/macros/s/AKfycbzTgfDwfVyJNQBkCnE6gVSMwxjDybeoFZiMGSSH-MOmd62HAYgiZ-6emkzwiqUmr7Mkhg/exec
MASS_SCHEDULE_LOCATION=Our Lady of Victory Church, 4580 SW 65th Avenue, Davie, FL 33314
MASS_SCHEDULE_TIME_ZONE=America/New_York
MASS_SCHEDULE_SACRISTANS_MINISTRY_SLUG=sacristans
MASS_SCHEDULE_ALTAR_SERVERS_MINISTRY_SLUG=altar-servers
MASS_SCHEDULE_USHERS_MINISTRY_SLUG=ushers
MASS_SCHEDULE_SYNC_REQUIRED=false
